// Mixins
// media queries

@mixin bp($point) {
  @if $point == phone {
    @media (max-width: 599px) { @content; }
  }
  @else if $point == tablet-portrait {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == tablet-landscape {
    @media (min-width: 900px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1200px) { @content; }
  }
}
// prevent highlighting/selecting of text
@mixin user-select($value) {
  -webkit-touch-callout: $value; /* iOS Safari */
    -webkit-user-select: $value; /* Safari */
     -khtml-user-select: $value; /* Konqueror HTML */
       -moz-user-select: $value; /* Firefox */
        -ms-user-select: $value; /* Internet Explorer/Edge */
            user-select: $value; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

//Borders
@mixin item-border {
border-bottom: $highlight solid 0.3em;
border-right: $highlight solid 0.3em;
}

@mixin zero-margin {
  margin: 0;
  padding: 0;
}


//Colors
$primary-color: #FFFDED; //Cream
$secondary-color: #F97A32; //Orange
$text-color: #363534; //Black
$highlight: #53C4AD; //Blue
$active: #EAA514; //Mustard


//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
$body-font: 'Didact Gothic', sans-serif;

html{
  @include zero-margin;
  min-height: 1000px;
  box-sizing: border-box;
}
.page {
  @include user-select(none);
  @include zero-margin;
  // display: block;
  box-sizing: border-box;
  // position: absolute;
  // min-width: calc(100%);
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  font-family: $body-font;
  color: $text-color;
    @include bp(tablet-landscape){
      font-size: 120%;
    }
    @include bp(desktop){
      font-size: 150%;
  }
}

.container {
  @include zero-margin;
  background-color: $active;
  background-image: url("https://transparenttextures.com/patterns/pineapple-cut.png");
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  // width: calc(100%);
  // height: calc(100%);
  // display: flex;
  // flex: 1;
  // flex-direction: column;
}

.navigation {
  @include zero-margin;
  background: $secondary-color;
  // display: flex;
  // flex-direction: column;
  // margin: auto;
  justify-content: space-around;
  // font-family: $body-font;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.navigation__item {
      margin: 0;
      list-style: none;
      display: inline-block;
      padding: 0.5em;
      background: $highlight;
      }

.navigation__item--big{
  display: none;
  @include bp(tablet-portrait) {
    display: inline;
  }
}

.dropdown {
      @include zero-margin;
      display: none;
      align-items: center;
      align-content: center;
      background: $secondary-color;
    }


.menu {
    width: calc(85%);
            position: relative;

    // height: calc(100%);
    background: $primary-color;
    border: solid 2px $secondary-color;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    align-items: center;
      @include bp(tablet-landscape){
        // display: flex;
        // width: 30%;
        // flex-flow: row wrap;
        // justify-content: space-between;
        // flex-basis: 30%;
        // flex: 1;
      }
      @include bp(desktop){
        // width: 95%;
      }
    // justify-content: flex-end;
    // overflow: hidden;

  }

      .menu__heading {
        text-align: center;
        // padding-left: 25%;
        // display: flex;
        // align-self: center;
      }

.menu-item {
  @include item-border;
  display: flex;
  // flex: 2;
  // position: absolute;
  width: 80%;
  flex-basis: 80%;
  text-align: right;
  align-self: center;
  align-items: center;
  justify-content: center;
  // padding-right: 1em;
  margin: 0.5em;
  background: $secondary-color;
  border-radius: 5px;
    @include bp(tablet-portrait){
      // display: flex;
      // justify-content: space-between;
      flex-flow: row wrap;
      flex-basis: 50%;
      }
      @include bp(tablet-landscape){
        flex-basis: 40%;
      }
          @include bp(desktop){
            flex-basis: 25%;
          }
  .dropdown__menu-item {
    @include bp(tablet-portrait){
      align-items: stretch;
      flex-flow: row wrap;
      flex: 1;
    }
  }
}



.item-image {
  position: relative;
  width: 80%;
  // height: 25%;
  background-size: cover;
    @include bp(tablet-landscape){
      width: 100%;
    }
    @include bp(desktop){
      width: 100%;
    }

}

.menu-item__button-area {
  // position: absolute;
  // display: inline-flex;
  // flex: 2;
  // justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  // margin: 1em;
  // padding: 1em;
  text-align: center;
  background-color: $primary-color;
  border: $highlight solid 2px;
}

.button {
  background-color: $highlight;
  border: $highlight solid 2px;
  font-family: $body-font;
  padding: 0.5em;
  margin: 1em;
  align-items: center;
}

.button--order {
  margin-left: 3em;
}

// JQuery states
// .is-visible {
          // width: 100%;
          // height: 50%;
          // display: flex;
          // flex-direction: column;
          // flex: 1;
        // }

.is-active {
        color: $primary-color;
        background: $active;
      }
