//Mixins
@mixin user-select($value) {
  -webkit-touch-callout: $value; /* iOS Safari */
    -webkit-user-select: $value; /* Safari */
     -khtml-user-select: $value; /* Konqueror HTML */
       -moz-user-select: $value; /* Firefox */
        -ms-user-select: $value; /* Internet Explorer/Edge */
            user-select: $value; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


//Colors
$primary-color: #FFFDED; //Cream
$secondary-color: #F97A32; //Orange
$highlight: #116392; //Blue
$header-text: #9A8274; //Brown

//Google Fonts
@import url('https:/fonts.googleapis.com/css?family=Norican');
@import url('https:/fonts.googleapis.com/css?family=Lekton:400,400i|Norican');
$header-font: 'Norican', cursive;
$body-font: 'Lekton', sans-serif;



body{
  background: $primary-color;
  font-family: $body-font;
}
ul {
  list-style: none;
}

h1, h2, h3 {
  color: $header-text;
}

h1{
  font-family: $header-font;
}

nav {
  background: $secondary-color;
  color: $primary-color;
  font-family: $body-font;
  text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      padding-left: 5%;
      background: $highlight;
      }
  }



#menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
  }

form {
  width: 40%;
  background: $secondary-color;
}


//Menu

.Category {
  @include user-select(none);
}

.Category-header {
  padding: 10px;
}
.Category-body {

  overflow: hidden;

  height: 0px;
  transition: height 0.5s ease-in-out;

  &.is-open {
    height: 40%;
  }
}


.Subcategory-header {
  padding: 10px;
}
.Subcategory-body {
  overflow: hidden;

  height: 0px;
  transition: height 0.5s ease-in-out;

  &.is-open {
    height: 40%;
  }
}

#cart {
  display: none;
  color: $header-text;
  align-items: center;
  border: 1px solid $secondary-color;

  &.is-visible {
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

}

.Subcategory-body {
  background-color: $secondary-color;
  opacity: 50%;
}

//Media queries
//@media only screen and (min-width: 300px) {
    /*.background {
        background-size: 100% 100%;
        background-image: url("../images/bg_mobile.png");
        padding-left: 20%;
  //  }
//}

/* #menu-item_olives {
height: 200px;
width: 100px;
background-color: red;
} */
