//Mixins
@mixin user-select($value) {
  -webkit-touch-callout: $value; /* iOS Safari */
    -webkit-user-select: $value; /* Safari */
     -khtml-user-select: $value; /* Konqueror HTML */
       -moz-user-select: $value; /* Firefox */
        -ms-user-select: $value; /* Internet Explorer/Edge */
            user-select: $value; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
// Media queries
@media only screen and (min-width: 300px){
.container {
// background-size: 100% 100%;
// background-color: black;
// background-image: url("../images/bg_mobile.png");
// padding-left: 20%;
  }
}

//Colors
$primary-color: #FFFDED; //Cream
$secondary-color: #F97A32; //Orange
$highlight: #116392; //Blue
$text-color: #000; //Black

//Google Fonts
@import url('https:/fonts.googleapis.com/css?family=Norican');
@import url('https:/fonts.googleapis.com/css?family=Lekton:400,400i|Norican');
// $header-font: 'Norican', cursive;
$body-font: 'Lekton', sans-serif;

.container {
  // background: $primary-color;
  font-family: $body-font;
  color: $text-color;
  @include user-select(none);
}

// body{
//   background: $primary-color;
//   font-family: $body-font;
// }
// ul {
//   list-style: none;
// }

.heading {
  align-items: center;
  text-align: center;
    h1 {
      margin: 0.25em 0 0 0;
    }
    h3 {
      margin: 0;
    }
}


// h1{
  // font-family: $header-font;
// }

.navigation {
  background: $secondary-color;
  font-family: $body-font;
  text-align: center;
  margin: 0;
}

.navigation__item {
      margin: 0;
      list-style: none;
      display: inline-block;
      padding: 0.5em;
      background: $highlight;
      }

.dropdown {
      display: none;
      align-items: center;
      background: $secondary-color;
    }

.is-active {
        color: $primary-color;
      }

.is-visible {
          top: 0;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          flex: 1;
        }

.menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
  }

.menu-item {
      text-align: right;
}

.menu-item {
  width: 80%;
  align-items: center;
  text-align: right;
  padding-right: 1em;
  background: $secondary-color;
  border: $primary-color solid 0.5em;
}


// form {
//   width: 40%;
//   background: $secondary-color;
// }



.btn {
  font-family: $body-font;
  width: 80%;
  border: solid 0.25em $highlight;
  text-align: center;
  background-color: $primary-color;
}
