@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
.page {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
   supported by Chrome and Opera */
  border: 0;
  font-family: "Didact Gothic", sans-serif;
  color: #363534; }

.container {
  background-color: #EAA514;
  background-image: url("https://transparenttextures.com/patterns/pineapple-cut.png"); }

.navigation {
  margin: 0;
  padding: 0;
  background: #F97A32;
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  align-items: center;
  overflow: hidden; }

.navigation__item {
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 0.5em;
  background: #53C4AD; }

.navigation__item--timer {
  display: none; }

.dropdown {
  margin: 0;
  padding: 0;
  display: none;
  align-items: center;
  background: #F97A32; }

.menu {
  width: 85%;
  background: #FFFDED;
  border: solid 2px #F97A32;
  border-top: 0px;
  border-bottom: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center; }

.menu__heading {
  text-align: center; }

.menu-item {
  border-bottom: #53C4AD solid 0.3em;
  border-right: #53C4AD solid 0.3em;
  width: 80%;
  text-align: right;
  padding-right: 1em;
  margin-bottom: 0.5em;
  background: #F97A32;
  border-radius: 5px; }

.item-image {
  width: 80%;
  background-size: contain; }

.button {
  display: inline-block;
  font-family: "Didact Gothic", sans-serif;
  border: 0;
  align-items: center;
  background-color: #53C4AD; }

.button--order, .button--confirm {
  background: #FFFDED; }

.is-visible {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex: 1; }

.is-active {
  color: #FFFDED;
  background: #EAA514; }
