.Category {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
   supported by Chrome and Opera */ }

.Category-header {
  padding: 10px;
  background-color: #EEE; }

.Category-body {
  background-color: #AAA;
  overflow: hidden;
  height: 0px;
  transition: height 0.5s ease-in-out; }
  .Category-body.is-open {
    height: 300px; }
