@mixin user-select($value) {
  -webkit-touch-callout: $value; /* iOS Safari */
    -webkit-user-select: $value; /* Safari */
     -khtml-user-select: $value; /* Konqueror HTML */
       -moz-user-select: $value; /* Firefox */
        -ms-user-select: $value; /* Internet Explorer/Edge */
            user-select: $value; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.Category {
  @include user-select(none);
}

.Category-header {
  padding: 10px;
  background-color: #EEE;
}
.Category-body {
  background-color: #AAA;
  overflow: hidden;
  
  height: 0px;
  transition: height 0.5s ease-in-out;

  &.is-open {
    height: 300px;
  }
}
